<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="EMISDatabase2ConnectionString" connectionString="server=.;uid=CEMIS;password=CEMIS;database=EMISDatabase2;" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<appSettings>
    <add key="connstring" value="server=.;uid=CEMIS;password=CEMIS;database=SMALL3;" />
    
		<!--  <add key="connstring1" value="uid=sa;password=shgdxm%123;database=SMALL2;server=127.0.0.1" />  
  <add key="connstring" value="Data Source=127.0.0.1;Initial Catalog=SMALL2;Integrated Security=True;Database=SMALL2" />
  -->
		<!--第一次加密密钥-->
		<add key="firstEntryKey" value="123" />
		<!--第二次加密密钥-->
		<add key="secdondEntryKey" value="123" />
		<add key="pageSize" value="2" />
	</appSettings>
	<system.web>
		<httpRuntime requestValidationMode="2.0" />
		<customErrors mode="Off" />
		<compilation targetFramework="4.0" debug="true">
        </compilation>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
      <globalization requestEncoding="gb2312" responseEncoding="gb2312" />

	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.aspx" />
			</files>
		</defaultDocument>
        <directoryBrowse enabled="true" />
	</system.webServer>

</configuration>
